<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>placefull</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <style>
    	#messages{
    		background: red;
    		list-style-type: none;
    		padding-left:0px;
    	}
    	/*#messages{
    		padding: 1rem;
    	}*/
    </style>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
		function getLocation() {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(showPosition);
		    } else { 
		        alert("Geolocation is not supported by this browser.");
		    }
		}

		function showPosition(position) {
			$("#latitude").val(position.coords.latitude);
			$("#longitude").val(position.coords.longitude);
			
			$.ajax( "/messages/"+ position.coords.latitude + "/" + position.coords.longitude, {
				success: function(data){
					$('#messages').append(data);
				},
				error: function(){
					// alert("A Derp was encountered when attempting to load the messages");
				}
			});
		}

		window.onload = getLocation();

	</script>
</head>
<body>
	<div class="container">
		<section id="form" class="row">
			<form action="/" method="post" class="form-inline">
			<input type="text" name="text" id="text" class="form-control">
			<input type="submit" name="submit" id="submit" value="post message" class="btn btn-primary">
			
			<input type="text" name="latitude" id="latitude">
			<input type="text" name="longitude" id="longitude">
		</form>
		</section>

		<section class="row">
			<ul id="messages">
				<li class="col-lg-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ipsum quasi alias eligendi, vitae et tenetur dolorum voluptatibus, saepe facere, a porro veritatis dolorem iure fuga commodi facilis blanditiis eveniet.</p>
					<small>location:portland, OR</small>
				</li>
				<li class="col-lg-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ipsum quasi alias eligendi, vitae et tenetur dolorum voluptatibus, saepe facere, a porro veritatis dolorem iure fuga commodi facilis blanditiis eveniet.</p>
					<small>location:portland, OR</small>
				</li>
			</ul>
		</section>
	</div>
</body>
</html>